* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: black;
  height: 3600px;
}

.container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 20vh;
  width: 3600px;
  transition: transform 0.15s;
  will-change: transform;
}

.box {
  position: relative;
  width: 500px;
  height: 480px;
  background-size: cover;
  background-position: center;
}
